.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 430px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
}

.modal__heading {
  margin: 0 0 54px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
}

.modal__close-button {
  background-image: url(../images/close-button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 6px);
  left: calc(100% + 6px);
}

.modal__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.modal__preview-image {
  position: relative;
  background-color: transparent;
  margin: auto;
  color: #fff;
}

.modal__card-preview_image {
  max-width: 75vw;
  max-height: 75vh;
  height: 100%;
}

.modal__preview_heading {
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 1.2;
  max-width: 290px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 618px) {
  .modal__container {
    max-width: 282px;
    padding: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    margin-bottom: 75px;
  }

  .modal__close-button {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 19px);
    left: calc(100% - 31px);
  }

  .modal__close-button_preview {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 6px);
    left: calc(100% + 6px);
  }

  .modal__preview_heading {
    max-width: 240px;
  }
}
