.profile {
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 51px;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description .";
  grid-gap: 7px 18px;
}

.profile__title {
  margin: 0;
  max-width: 375px;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 1s;
}

.profile__subtitle {
  margin: 0;
  max-width: 415px;
  grid-area: description;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  transition: width 1s;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  width: 24px;
  height: 24px;
  background: transparent url(../images/Vectoredit-button.svg) center no-repeat;
  align-self: center;
  border: 1px #fff solid;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button {
  background: transparent url(../images/Vectoradd__button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: 2px #fff solid;
  border-radius: 2px;
  transition: width 1s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .profile__title {
    font-size: 22px;
    transition: font-size 1s;
    text-align: center;
    width: 196px;
    line-height: 1.2;
  }

  .profile__info {
    justify-items: start;
  }

  .profile__subtitle {
    font-size: 14px;
    transition: font-size 1s;
  }

  .profile__add-button {
    width: 50px;
    transition: width 1s;
  }
}

@media screen and (max-width: 618px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }

  .profile__subtitle {
    text-align: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 282px;
    margin: 0 0 36px;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
  }

  .profile__avatar {
    margin: 0 0 30px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}
